<div>
	<table>
		<tr>
			<td width='30%' ng-show='showPreview'>
				<div class="preview preview-vertical" ng-style="{'height': height, 'margin-top': '2.4em' }">
                    <div compile="code"></div>
				</div>
			</td>
			<td width='2000'>
				<div ng-show='showTabs'>
					<tabset>
						<tab ng-repeat='file in files' active='file.isCurrent' heading='{{file.name}}' select='switchToFile(file)'/>
					</tabset>
				</div>
				<pre id='editor' ng-transclude ng-style="{'height': height+'px'}"/>
			</td>
		</tr>
	</table>
</div>