<div class="bloc-content text-content">
	<ul>
        <li>Used to <span class="text-red">transform the template DOM</span> before it is compiled.</li>
        <li>Can have optional following parameters (identified by their order):</li>
		<ol>
			<li><i class="text-red">tElement</i>: Template element.</li>
			<li><i class="text-red">tAttrs</i>: Template attributes.</li>
			<li><i class="text-red">transclude</i>: Transclude function.</li>
		</ol>
	</ul>
		
<editor show-preview="false" show-tabs="false" height="80">
<file type="javascript" name="directive.js">function compile(tElement, tAttrs, transclude) {
	//TODO : DOM transformation
}
</file>
</editor>
		
</div>