<div class="bloc-content text-content">
	<ul>
		<li>Defines a controller for the directive. Can be shared with other directives, using <i class="text-red">
			require</i> attribute.</li>
		<li>Can have optional following parameters:</li>
		<ol>
			<li><i class="text-red">$scope</i>: Directive scope.</li>
			<li><i class="text-red">$element</i>: Directive element.</li>
			<li><i class="text-red">$attrs</i>: Element attributes.</li>
			<li><i class="text-red">$transclude</i>: Transclude function.</li>
		</ol>
	</ul>
		
<editor show-preview="false" show-tabs="false" height="150" compile-code="false">
<file type="javascript" name="directive.js">controller: ['$scope', '$element', '$attrs', '$transclude', 
	function($scope, $element, $attrs, $transclude) {
		//TODO
		//$scope.nbProducts = ...
		//$scope.getProductDetail = function(product) {...};
	}
]
</file>
</editor>

</div>