<div class="bloc-content text-content">
	<ul>
		<li><span class="text-red">Exercise</span>: Create a directive called <i class="text-red">ConfirmClick</i>, which displays a confirm dialog
			box on an element click. The dialog message has to be configurable.</li>
	</ul>
		
<editor editor-options="{showPreview:true , showTabs:true , height:280 }" ng-controller="DirectiveSlideController">
<file type="html" name="confirm.html">&lt;div ng-init="login='Bob'"&gt;
	&lt;button class="btn" ng-click="login=''"&gt;Reset login&lt;/button&gt;
	Login: {{login}}
&lt;/div&gt;
</file>
<file type="javascript" name="confirm.js">application.directive('confirmClick', function($dialog) {
    return {
        restrict: 'A',
        link: function(scope, elm, attrs) {
            var button = elm[0];
            
            
            //TODO: use onclick function on the button.
            //TODO: display a confirm box using $dialog.messageBox.
            //TODO: if OK is clicked, evaluate the content of the ng-click with scope.$eval.
            //TODO: if Cancel is clicked, nothing happens.
        }
    };
});
</file>
</editor>

</div>

<!-- 
application.directive('confirmClick', function($dialog) {
    return {
        restrict: 'A',
        link: function(scope, elm, attrs) {
            var button = elm[0];
            
            var clickHandler = attrs.ngClick;
            attrs.ngClick = null;
            
            var confirmMsg = (attrs.confirmClick == null | attrs.confirmClick.length == 0) ? "Are you sure?" : attrs.confirmClick;
            
            button.onclick = function(event) {
        		var msgBox = $dialog.messageBox('Confirm', confirmMsg, [{label: 'OK', result: true},{label: 'Cancel', result: false}]);
                msgBox.open().then(function(result) {
                	if (result) {
                		scope.$eval(clickHandler);
                	}
                });
            };
        }
    };
});

 -->