<div class="bloc-content text-content">
	<ul>
		<li>Directives are used to make <span class="text-red">customer HTML elements</span> and 
			<span class="text-red">simplify DOM manipulation</span>.</li>
		<li>They can modify the behavior of new and existing DOM elements, by 
			<span class="text-red">adding them functionalities</span> (<i>datepicker</i>, <i>autocomplete</i>, ...).</li>
		<li>Angular comes with its own set of built-in directives, as well as the ability to add your own ones.</li>
	</ul>
</div>