<div class="bloc-content text-content">
	<ul>
		<li>In the home page of our <i>ecommerce</i> application, we will display all the news added by the webmasters.
			Use the <i class="text-red">$resource</i> service to manage news. Following functionalities are needed:</li>
		<ol>
			<li>List all the news in the <i>table</i> element.</li>
			<li>Displays the news of the day in the bottom panel. In our case, the selected news 
				will be the one whose <i>id</i> is equals to <i>1</i>.</li>
			<li>You can "like" a news, which will increase the value of its <i>likes</i> property.</li>
			<li>Delete a news.</li>
			<li>Add a news (news whose <i>id</i> is -1 are considered as newly created news).</li>
		</ol>
		<br/><i>Use the url <a href="http://localhost:3000/news/" target=”_blank”>/news/:id</a> with your <i class="text-red">$resource</i> object.</i>
	</ul>
</div>