<div class="container">
	<div class="bloc-content text-content">
		
<editor show-preview="false" show-tabs="false" height="460">
	<file type="javascript" name="services.js">var appServices = angular.module('ecommerce.services', []);
	
appServices.provider('UserService', UserServiceProvider);

//Provider with a function...
function UserServiceProvider() {
    this.$get = function () {
        //return UserService instance...
    };
}

//... Or with an object.
appServices.provider('CartService', {
	
	instance: null,
	
	initCart: function() {
		//TODO
	},
	
	// You can use DI in the $get method.
	$get: ['UserService', function (userService) {
		//Create CartService instance, configure it...
		//... And returns it.
		return instance;
    }]
});
</file>
</editor>
		
	</div>
</div>