<div class="bloc-content text-content">
	<img src="images/angularjs-900px.png" class="back-image" />
	<br/>
	<ul>
		<li>A JS <span class="text-red">Framework</span> developed by <span class="text-red">Google</span>.</li>
		<li>100% <span class="text-red">Javascript</span> and 100% <span class="text-red">client side</span>.</li>
		<li>Used in Google's production projects.</li>
		<li>3 people of core team, and hundreds of community.</li>
		<li>Released in <span class="text-red">2009</span>, current stable version is <span class="text-red">1.0.7</span>.</li>
	</ul>
</div>