<div class="bloc-content text-content">
	<table>
		<tr>
			<td width="50%">
				<ul>
					<li>End-to-end tests are placed in the <i>test/e2e/</i> directory of your application.</li>
					<li>Each scenario is composed of one or more of these blocks:</li>
					<ul>
						<li><i class="text-red">it</i>: Made of <i>commands</i> and <i>expectations</i>.</li>
						<li><i class="text-red">beforeEach</i>: Run before each <i>it</i> block.</li>
						<li><i class="text-red">afterEach</i>: Run after each <i>it</i> block.</li>
					</ul>
					<li><i>ngScenario</i> provides severals <a href="http://docs.angularjs.org/guide/dev_guide.e2e-testing">commands</a> to manipulate 
						and test the application and its rendered HTML.</li>
					<li>You can use class and id selectors (<i>.</i> and <i>#</i>) if <i>JQuery</i> is loaded in your tests.</li>
				</ul>
			</td>
			<td>
				<img src="images/ngScenario.png" class="back-image" width="300" />
			</td>
		</tr>
	</table>
</div>