<div class="bloc-content text-content">
	<ul>
		<li><i class="text-red">element(selector).click()</i>: Clicks on a given element.</li>
		<li><i class="text-red">element(selector).text()/.html()</i>: Returns the content of a given element.</li>
		<li><i class="text-red">input(ng-model).enter(value)</i>: Enters the <i>value</i> in the text field binding to the
			scope property <i>ng-model</i>.</li>
		<li><i class="text-red">input(ng-model).val()</i>: Returns the current value of an input field.</li>
		<li><i class="text-red">pause()</i>: Pauses the execution of the tests.</li>
		<li><i class="text-red">sleep(seconds)</i>: Pauses the execution of the tests for X seconds.</li>
		<li><i class="text-red">browser().navigateTo(url)</i>: Loads the <i>url</i>.</li>
		<li><i class="text-red">browser().location().path()</i>: Returns current path.</li>
		<li><i class="text-red">expect(expression).{not.}{matcher}</i>: Asserts the valud of the <i>expression</i> satisfies
			the <i>matcher</i>. Available matchers are:	<i class="text-red">toEqual</i> (<i>angular.equals()</i>), <i class="text-red">toBe</i> (<i>===</i>), 
			<i class="text-red">toMatch</i> (<i>compares with a given regular expression</i>), <i class="text-red">toBeNull</i>, <i class="text-red">toBeLessThan</i>, etc...</li>
	</ul>
</div>