<div class="container">
	<div class="bloc-content text-content">
		<ul>
			<li><a href="https://github.com/angular/angular.js/tree/master/src/ngMobile">angular-mobile.js</a> 
				is available on angular versions >= 1.14. It includes <span class="text-red">fastclick.js</span> code
				by default and directive <i class="text-red">ngSwipe</i>.</li>
			<li><a href="https://github.com/ajoslin/angular-mobile-nav">angular-mobile-nav</a> adds
				transitions to the angular navigation.</li>
			<li><a href="https://github.com/opitzconsulting/angular-jqm">angular-jqm</a> is a library which provides 
				functionalities from <i class="text-red">jquery-mobile</i>, but with small footprint and without
				any other dependency required (no <i>jQuery</i> or <i>jQuery-Mobile</i>).<br/>
				Main features are:</li>	
			<ul>
				<li>Mobile directives (<i>jqmHeader</i>, <i>jqmCheckbox</i>, etc.)</li>
				<li>A new routing system, with transitions.</li>
				<li>Utility services (<i class="text-red">$orientation</i>, etc.).</li>
			</ul>
		</ul>
	</div>
</div>