<div class="container">
	<div class="bloc-content text-content">
	
<editor editor-options="{showPreview:false , compileCode:false ,showTabs:true , height:430 }">
<file type="javascript" name="UserCtrl.js">function UserCtrl($scope) {
    $scope.users = [
		{ "firstName": "Joe", "lastName": "Dalton" },
		{ "firstName": "William", "lastName": "Dalton" },
		{ "firstName": "Jack", "lastName": "Dalton" },
		{ "firstName": "Averell", "lastName": "Dalton" }
    ];
    
    $http.get('/api/roles').success(function(data) {
		$scope.roles = data;
	});
     
    $scope.userName = "Dalton";
}

</file>
<file type="javascript" name="unit/userSpec.js">// test/unit/controllers/userSpec.js
describe('UserCtrl Unit Tests', function() {
	var scope;
	var httpMock;
	
	// $httpBackend is in module ngMock (angular-mock.js)
	// inject() is used to inject services in our function.
	beforeEach(inject(function($rootScope, $controller, 
		$httpBackend, $http) {
		
		// Creates a new scope for our test.
		scope = $rootScope.$new();
		
		// Fake http backend implementation for unit testing.	
		httpMock = $httpBackend;
		httpMock.when('GET', '/api/roles')
			.respond([ "user", "admin" ]);
		
		// Creates a new UserCtrl.
		var ctrl = $controller(UserCtrl, 
			{$scope: scope, $http: $http});
	}));
     
	it('should have 4 users', function() {
		// toBe: compare if x and y are the same object.
		expect(scope.users.length).toBe(4);
	});
	 
	it('should set default user name.', function() {
		// toMatch: compare a string/regular expression.
		expect(scope.userName).toMatch('Dalton');
	});
	
	it('should return a list of roles.', function() {
		// Creates a new request expectation for GET requests.
		// See also expectPOST, expectPUT, etc.
		httpMock.expectGET('api/roles');
		
		// Simulates the response returning from the backend.
		// Calls the success function bound to the http request.
		httpMock.flush();
		
		// Tests the result of the $http service.
		expect(scope.roles[0]).toMatch("user");
		expect(scope.roles[1]).toMatch("admin");
	});
});

</file>
<file type="javascript" name="e2e/userSpec.js">// test/e2e/controllers/userSpec.js
describe("UserCtrl e2e Tests", function() {
	beforeEach(function() {
		browser().navigateTo('/');
	});
	
	it('should have a users page with a users list.', function() {
		browser().navigateTo('#/users');
		expect(browser().location().path()).toBe("/users");
		expect(element('#ng-view').html()).toContain('list-users');
	});
	
	it('should have a add user button which displays a create form.', function() {
		browser().navigateTo('#/users');
		
		// Click on the add button.
		element('.btnAddUser').click();
		
		// Checks if the create form is displayed.
		expect(element('#ng-view').html()).toContain('Submit user');
	});
});

</file>
</editor>
	
	</div>
</div>