<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Training</title>
    <link rel="stylesheet" href="styles/animation.css">
    <link rel="stylesheet" href="styles/bootstrap.css"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="angularTrainingApp">

<div class="slide" ng-controller="MainController">

    <div  ng-cloak popover-placement="bottom" popover="{{popupText}}" ng-mousemove="setPopupText($event)"
         popover-trigger="mouseenter">
        <a ng-click="gotoSelectedSlide()">
            <progressbar value="slideIndexAsPc" type="danger" class="progress-slideshow active">
                {{height()}} <span style="color:black; white-space:nowrap;">{{slideIndex}} / {{slides.length}}</span></progressbar>
        </a>
    </div>

    <a ng-click="previousSlide()">
        <div class="left-triangle"></div>
    </a>

    <a ng-click="nextSlide()">
        <div class="right-triangle"></div>
    </a>

    <a ng-show="!options.disableRemarks && displayRemarksIcon()" ng-click="showRemarks()" class="remarks">
        <img src="images/info.png" />
    </a>

    <div ng-cloak class="header" ng-show="slides[slideIndex].title">
        <h1 class="title">{{slideIndex}}. {{slides[slideIndex].title}}</h1>
    </div>

    <div ng-cloak ng-view ng-class="getAnimation()"></div>
</div>


<script src="components/lodash/dist/lodash.min.js"></script>
<script src="lib/ace-builds/src-min/ace.js"></script><!--todo : Change ASAP - update to ace 1.1.2-->
<script src="lib/ace-builds/src-min/ext-language_tools.js"></script>
<script src="components/angular/angular.min.js"></script>
<script src="components/angular-route/angular-route.min.js"></script>
<script src="components/angular-animate/angular-animate.min.js"></script>
<script src="components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<script src="components/angular-sanitize/angular-sanitize.min.js"></script>


<script src="js/app.js"></script>

<script src="js/controllers/mainController.js"></script>
<script src="js/controllers/animationController.js"></script>
<script src="js/controllers/slides.js"></script>

<script src="js/directives/directives.js"></script>
<script src="js/directives/editor.js"></script>
<script src="js/directives/corrector.js"></script>

<script src="js/filters/filters.js"></script>

<script src="js/services/services.js"></script>

</body>
</html>
