<div class="bloc-content text-content">
	<ol>
		<li>Get following <a href="data/ecommerce.rar" target=”_blank”>AngularJS application skeleton</a>.</li>
		<li>Extract the archive in your workspace and import the project in your IDE.</li>
		<li>Get and install <a href="http://nodejs.org/" target=”_blank”>Node.js</a>.</li>
		<li>In your project directory, open a new console and execute these two commands:</li>
		<ul>
			<li><i class="text-red">npm install</i>: Install the application and gets all its dependencies.</li>
			<li><i class="text-red">node server</i>: Launches a server to access the application.</li>
		</ul>
		<li>Product description page is handled by two files: the template <i class="text-red">detail.html</i> and 
			the controller <i class="text-red">DetailController.js</i>. Use the Angular two way binding to fill the
			template with the product informations.</li>
		<li>Test your application at following url: <a href="http://localhost:3000/book/1" target=”_blank”>http://localhost:3000/#/book/1</a></li>
	</ol>
</div>