<div class="bloc-content text-content">
	<ol>
		<li>We will now handle the login functionality in our <i class="text-red">ecommerce</i> application. Files to
			edit are the template <i class="text-red">login.html</i> and its controller 
			<i class="text-red">LoginController.js</i>.</li>
		<li>Inject the <i class="text-red">$http</i> service to load the file 
			<i class="text-red">/data/users.json</i>.</li>
		<li>If the <i class="text-red">$http</i> service returns an error when trying to load the json file,
			use the <i class="text-red">$log</i> service to log an error in the console.</li>
		<li>Check if the login/password entered by the user refer to an existing user in the json file. If so, use
			the service <i class="text-red">$location</i> to redirect the user to the main page.</li>
		<li>When the user is successfully logged, use the <i class="text-red">$cookies</i> service to save the 
			user login.</li>
	</ol>
</div>