<article class="k-product-sheet">
	<div class="hproduct k-product">
		<div class="photo-data">
			<!-- TODO: product image in /img/catalog/product_id.jpg -->
			<img class="photo" />
		</div>
		<div class="product-data">
			<h3 class="fn name">NAME PRODUCT</h3>
			<h4 class="category">
				<a href="#">PRODUCT CATEGORY</a>
			</h4>

			<!-- TODO: return correct CSS class: rating and zero/one/two/three/four/five -->
			<p class="rating two">
				<a href="#comments">COMMENTS NUMBER comment(s)</a>
			</p>
			<p class="description">PRODUCT DESCRIPTION</p>
			<!-- TODO: Register quantity -->
			Quantity: <input type="number" class="product-qty"
				ng-model="quantity" /> <br />
			<div class="price-data">
				<strong class="price sale">
					<!-- TODO: Total Price -->
				</strong>
			</div>
			<div class="buyZone">
				<div class="availability">
					<p>
						<strong>Availability :</strong> immediate delivery
					</p>
				</div>
				<p class="buy">
					<a href="#/basket">Add to basket</a>
				</p>
			</div>
		</div>
	</div>
</article>