<div>
	<h1>{{message}}</h1>
	<table class="k-data-table">
		<caption>Last news from Web & Mobile Framework Team</caption>
		<thead>
			<tr>
				<th>Author</th>
				<th>Category</th>
				<th>Content</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Author</th>
				<th>Category</th>
				<th>Content</th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
		<tbody>
			<tr class="gradeA">
				<td><!-- News author --></td>
				<td><!-- News category --></td>
				<td><!-- News content --></td>
				<td><button class="btn"><img src="img/like.png" /> <!-- News likes number --></button></td>
				<td><button class="btn"><img src="img/delete.png"/></button></td>
			</tr>
			<tr class="gradeA">
				<td><input type="text" placeholder="author"/></td>
				<td><input type="text" placeholder="category"/></td>
				<td><input type="text" placeholder="content"/></td>
				<td></td>
				<td><button class="btn"><img src="img/add.png"/></button></td>
			</tr>
		</tbody>
	</table>
	
	<section class="k-panel">
		<h4 class="control"><a href="#">And the joke of the day is...</a></h4>
		<div class="content">
			<p><i><!-- News content --></i> from <b><!-- News author --></b></p>
		</div>
	</section>
</div>


