<div class="bloc-content text-content">
	<ul>
		<li>Makes your web developments <span class="text-red">faster</span>.</li>
		<li>A lot of services/directives to respond to <span class="text-red">enterprise common needs</span>.</li>
		<li>Create your own directives and services to make your application <span class="text-red">modular</span>
			and <span class="text-red">reusable</span>.</li>
		<li>Do not forget to <span class="text-red">make tests</span> to verify the correctness of new features, 
			catch bugs and notice regressions.</li>
	</ul>
	<img src="images/angularjs-900px.png" class="back-image" />
</div>