<div class="bloc-content text-content">
    <ul>
        <li>You can associate your controllers via:</li>
        <li>The <span class="text-red">ngController</span> directive.</li>
        <li>The <span class="text-red">ngRoute</span> service associate a route to views and controllers</li>
        <li>The <span class="text-red">ui-router</span> service from <span class="text-red">angular-ui</span> librairies provides advanced features than ngRoute
            (nested state & view) <a href="https://github.com/angular-ui/ui-router">Home Page</a> (see wiki and api):
        </li>


    </ul>

    <editor editor-options="{showPreview: false, showTabs:true , compileCode:false , height:300 }">
        <file type="html" name="contact.html">&lt;div ng-controller="ContactController"&gt;
    ...
&lt;/div&gt;
        </file>
        <file type="javascript" name="app.js">var application = angular.module('trainingApp', ['ngRoute'])
            .config(function ($routeProvider) {
            $routeProvider
            .when('/home', {
            templateUrl: 'views/main.html',
            controller: MainController
            })
            .when('/contact', {
            templateUrl: 'views/contact.html',
            })
            .otherwise({
            redirectTo: '/home'
            });
            });
        </file>
    </editor>

</div>