<div ng-controller="WatchExCtrl">
	<div class="bloc-content text-content">
		<ul>
			<li><span class="text-red">Exercise</span>: Complete the template and the controller to link the form 
				elements to the scope data.</li>
			<li>Displays an error message if one or more form fields are empty.</li>
		</ul>
			
<editor show-preview="true" show-tabs="true" height="200">
<file type="html" name="product.html">&lt;div ng-controller="ProductController" id="productForm"&gt;
	Name *: &lt;input type="text" id="inputName" /&gt;,
	Price *: &lt;input type="number" id="inputPrice" /&gt; &euro;,
	Quantity *: &lt;input type="number" id="inputQty" /&gt;
	&lt;br/&gt; &lt;i id="errorMsg"&gt;{{mandatoryMsg}}&lt;/i&gt;
&lt;/div&gt;

</file>
<file type="javascript" name="productController.js">var ProductController = function($scope) {
	
	$scope.product = { name: null, price: null, qty: null };
	
	$scope.mandatoryMsg = "All fields are mandatory!";
};
</file>
</editor>
			
	</div>
	
	<button-valid/>
</div>